@use "variables";

.larger-section {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  .left-side,
  .right-side {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}

.first-section {
  background-color: variables.$dark-color;
  height: 600px;
}

.centro {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  p {
    color: white;
    font-weight: 100;
    font-size: 25px;
    z-index: 2;
    span {
      z-index: 2;
      font-weight: bold;
      font-size: 25px;
      color: variables.$details-color;
    }
  }
  .GoDownBtn {
    z-index: 2;
    background-color: transparent;
    border: none;
    i {
      z-index: 2;
      position: absolute;
      color: variables.$details-color;
      padding-top: 30px;
      animation: upDown 2s ease-in-out infinite alternate;
    }
  }
  bottom:hover {
    scale: 1;
  }
}
@keyframes upDown {
  from {
    padding-top: 30px;
  }
  to {
    padding-top: 80px;
  }
}
.img-container {
  z-index: 0;
  top: 0;
  height: 800px;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  .left-img {
    position: absolute;
    background: url(../imgs/foto-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 700px;
    height: 1200px;
    top: -300px; //-350
    left: -150px; // -100
    padding-right: 80px;
  }
  .right-img {
    position: absolute;
    background: url(../imgs/foto-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 200px;
    right: -200px;
    height: 800px;
    width: 700px;
  }
  .backgroundImg {
    z-index: 0;
    position: absolute;
    height: 500px;
    padding-top: 100px;
    right: 0px;
  }
}
@media (max-width: 1370px) {
  .img-container .right-img {
    width: 700px;
    height: 900px;
  }
}
@media (max-width: 1200px) {
  .img-container .right-img {
    width: 600px;
    height: 1600px;
  }
}
@media (max-width: 1000px) {
  .img-container .left-img {
    width: 500px;
  }
  .img-container .right-img {
    width: 500px;
    height: 2000px;
  }
}
@media (max-width: 680px) {
  .img-container .left-img {
    width: 400px;
  }
  .img-container .right-img {
    padding-top: 1800px;
    width: 350px;
    height: 400px;
  }
}
