@use "variables";
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: variables.$main-color;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simpleImg {
  background-image: url("../images/recipeimg.png");
  background-repeat: no-repeat;
  align-items: center;
  width: 100vw;
  min-height: 700px;
}
