@use "variables";

.loading {
  margin-top: 200px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 0;
  border-bottom: 100px solid variables.$details-color;
  position: relative;
  top: -200px;
  animation: loader ease-in-out 3s infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0.5);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
