@use "variables";

.right-side,
.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 15px;
}
.triangle {
  position: absolute;
  top: 0;
  width: 550px;
  height: 550px;
}
.drinkImg {
  height: 450px;
  width: 450px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  padding-bottom: 5px;
}
.section-1 {
  padding-top: 200px;
  height: auto;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.drinkName {
  font-size: 35px;
}
@media (max-width: 1000px) {
  .section-1 {
    flex-direction: column;
  }
  .drinkName {
    padding-bottom: 20px;
  }
  .left-side,
  .right-side {
    width: 100%;
  }
}

.drinkContent {
  display: none;
  top: 600px;
  position: relative;
  overflow: hidden;
}
.section-2 {
  height: auto;
  padding: 200px 0;
  background-color: variables.$dark-color;
}
table {
  max-width: 80%;
  tbody {
    overflow: hidden;
  }
  td {
    color: white;
    font-size: 25px;
    font-weight: default;
    padding: 0.25em 0.5em;
    text-align: left;
  }
  tbody tr:nth-child(odd) {
    transform: rotate(4deg);
  }
  tbody tr:nth-child(even) {
    transform: rotate(-4deg);
  }
}
.showTriangle {
  animation: goUp 1s forwards 0.3s;
}
@keyframes goUp {
  0% {
    top: 600px;
  }
  100% {
    top: 0;
  }
}
.section-3 {
  padding-top: 50px;
  text-align: center;
  flex-direction: column;
  height: auto;
  padding-bottom: 100px;
  h3,
  p {
    width: 80vw;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}
